body {
    background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
    color: white;
    width: 90%;
    margin: auto;
    padding-top: 5%;
}
img {
    vertical-align: middle;
}
#counter_number {
    background-color: orange;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}